name: Trigger auto deployment for cfo-app-final

on:
  push:
    branches: 
      - main
    paths:
      - '**'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          # UPDATED TO MATCH YOUR SCREENSHOT:
          client-id: ${{ secrets.CFOAPPFINAL_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CFOAPPFINAL_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CFOAPPFINAL_AZURE_SUBSCRIPTION_ID }}

      - name: Build and Push to ACR
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}
          acrName: cforegistry2015
          containerAppName: cfo-app-final
          resourceGroup: cfo-helper-rg
          dockerfilePath: Dockerfile
          # ADDING REGISTRY KEYS FOR SAFETY:
          registryUsername: ${{ secrets.CFOAPPFINAL_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CFOAPPFINAL_REGISTRY_PASSWORD }}
